@model OfferProject.Models.Conctrate.Offer
@{
    ViewBag.Title = "AdminUpdateOffer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (Model == null)
{

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="mb-5 font-weight-medium">@ViewBag.errorMessage<span class="text-primary">Üzgünüz</span></h2>
                <div class="p-5 shadow rounded">
                    <div class="text-center">
                        <img src="~/FullTemplate/UserTemplate/theme/images/no-search-found.png" />
                        @*<h3>Sayfaya Ulaşılamadı</h3>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-7">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Offer Update</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-5">

                    @using (Html.BeginForm("AdminUpdateOffer", "Admin", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.Offer_ID)
                        <div class="form-group">
                            <label>
                                <b>User</b>
                                <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" onclick="onUserInfo()"><i class="fa-solid fa-circle-question"></i></span>
                            </label>
                            @Html.DropDownListFor(x => x.User_ID, (List<SelectListItem>)ViewBag.user, "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.User_ID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>
                                <b>Countries</b>
                                <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" id="countries"><i class="fa-solid fa-circle-question"></i></span>
                            </label>
                            @Html.DropDownListFor(x => x.Countries_ID, (IEnumerable<SelectListItem>)ViewBag.contries, "Select", new { @class = "form-control", @id = "Country" })
                            @Html.ValidationMessageFor(x => x.Countries_ID, "", new { style = "color:red" })

                        </div>
                        <div class="form-group">
                            <label>
                                <b>City</b>
                                <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" id="city"><i class="fa-solid fa-circle-question"></i></span>
                            </label>
                            @Html.DropDownListFor(x => x.City_ID, (IEnumerable<SelectListItem>)ViewBag.city, "Select", new { @class = "form-control", @id = "citydrp" })
                            @Html.ValidationMessageFor(x => x.City_ID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>
                                    <b> Mode</b>
                                    <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" id="mode"><i class="fa-solid fa-circle-question"></i></span>
                                </label>
                                @Html.DropDownListFor(x => x.Mode_ID, (List<SelectListItem>)ViewBag.mode, "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Mode_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    <b>  Movement Type</b>
                                    <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" id="movement"><i class="fa-solid fa-circle-question"></i></span>
                                </label>
                                @Html.DropDownListFor(x => x.MovementType_ID, (List<SelectListItem>)ViewBag.movementType, "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.MovementType_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>
                                    <b>  Incoterm</b>
                                    <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" id="incoterm"><i class="fa-solid fa-circle-question"></i></span>
                                </label>
                                @Html.DropDownListFor(x => x.Incoterm_ID, (List<SelectListItem>)ViewBag.incoterm, "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Incoterm_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    <b>  Package Type</b>
                                    <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" id="package"><i class="fa-solid fa-circle-question"></i></span>
                                </label>
                                @Html.DropDownListFor(x => x.PackageType_ID, (List<SelectListItem>)ViewBag.packageType, "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PackageType_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>
                                    <b>  Unit-1</b>
                                    <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" id="unit1"><i class="fa-solid fa-circle-question"></i></span>
                                </label>
                                @Html.DropDownListFor(x => x.Unit1_ID, (List<SelectListItem>)ViewBag.unit1, "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Unit1_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    <b>Unit-2</b>
                                    <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" id="unit2"><i class="fa-solid fa-circle-question"></i></span>
                                </label>
                                @Html.DropDownListFor(x => x.Unit2_ID, (List<SelectListItem>)ViewBag.unit2, "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Unit2_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                <b>Currency</b>
                                <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" id="currency"><i class="fa-solid fa-circle-question"></i></span>
                            </label>
                            @Html.DropDownListFor(x => x.Currency_ID, (List<SelectListItem>)ViewBag.currency, "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Currency_ID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>
                                    <b>  Statu</b>
                                    <span class="text-dark" style="cursor:pointer; margin:0 0 0 5px" onclick="onStatusInfo()"><i class="fa-solid fa-circle-question"></i></span>
                                </label><br />
                                <span class="text-success"><i class="fa-solid fa-truck-fast"></i> Succes </span>  @Html.RadioButtonFor(x => x.status, true)
                                <span style="margin-left:20px;" class="text-warning"><i class="fa-solid fa-truck"></i> On Hold </span>  @Html.RadioButtonFor(x => x.status, false)
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <button id="giveAdd" class="btn btn-primary">Edit  <i class="fa-solid fa-pen ml-2"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-5">

            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Offer Desciription</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12" style="justify-content:center; align-items:center; display:flex;">
                            <img src="~/FullTemplate/UserTemplate/theme/images/update.png" width="250" height="250" />

                        </div>
                        <div class="col-md-12">
                            <div style="margin-top:20px;">
                                <p class="mt-10"> It is recommended that you choose your chosen lists carefully and calmly.</p>
                                <p>Be careful not to leave any data in the lists blank.</p>
                                <p>Otherwise, the results may cause you to lose recent data.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/FullTemplate/UserTemplate/includeScript/allInfo.js"></script>
<script src="~/FullTemplate/UserTemplate/includeScript/ajaxDropdown.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(function () {
        let sel = document.createElement("select");
        sel.setAttribute("id", "city");
        $('#Country').change(function () {
            var id = $('#Country').val();

            $.ajax({
                url: '/Admin/CityListAdmin',
                data: { p: id },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    $('#citydrp').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#citydrp').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");
                    };
                }
            });
        });
    });
    function onUserInfo() {
        swal({
            title: "User Information !",
            text: "You can withdraw the offer from the user list to another user.",
            icon: "info",
            button: "Okey !",
        });
    };
    function onStatusInfo() {
        swal({
            title: "Status Information !",
            text: "While editing the offer, you can also confirm the offer here..",
            icon: "info",
            button: "Okey !",
        });
    }
</script>

